@mixin desktopHd() {
  @media screen and (max-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (max-width: $bp-desktop) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $bp-tablets) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $bp-phones) {
    @content;
  }
}

$Opensans: 'Open Sans', Helvetica, sans-serif;

$dark: #333c49;
$gradient: linear-gradient(to right, #d0731b, #dc9322);
$orange: #ff9a00;