.about__section-columns
  .about_main
    .about__pic
      +image('content/user1.jpg', 'user-pic')
    .about__info
      ul.about__info-left
        li Проживаю
        li Возраст
        li Родилась
      ul.about__info-right
        li Днепр
        li 23 года
        li 11 ноября
  .about_desc
    .about_desc-upper
      p.desc-name Привет, меня зовут
      h2.desc-person Анна Сиренко
      p.desc-main Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    .about_desc-lower
      p.about_desc-lower_par Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!