.copyright © 2019      
.footer__name
  h4.footer__title-name Анна Сиренко
  h4.footer__text Личный сайт веб разработчика
.footer__content
  +nav('nav')
  .footer__info
    .footer__info-block
      .footer__text  Этот сайт я делала в рамках обучения в Школе онлайн образования LoftSchool 
      ul.socials
      li.socials__item.socials__item-footer
        a.socials__link(href='#' target="_blank")
          +icon('insta', 'socials__icon')
      li.socials__item.socials__item-footer
        a.socials__link(href='#' target="_blank")
          +icon('vk', 'socials__icon')
      li.socials__item.socials__item-footer
        a.socials__link(href='#' target="_blank")
          +icon('github', 'socials__icon')                 

    .footer__info-block
      .footer__text  Всегда пишите код так,будто сопровождать его будет склонный к насилию психопат, который знает где вы живёте
      .footer__autor Martin Golding