header.header
  a.logo(href='#') АС
  +nav('nav', ["Главная", "Обо мне", "Навыки", "Работы", "Связаться"])
  ul.socials
    li.socials__item
      a.socials__link(href='#')
        +icon('insta', 'insta')
    li.socials__item
      a.socials__link(href='#')
        +icon('vk', 'vk')
    li.socials__item
      a.socials__link(href='#')
        +icon('github', 'github')
