header.header
  a.logo(href='#') ะะก
  +nav('nav')
  ul.socials
    li.socials__item
      a.socials__connect(href='#' target="_blank")
        +icon('insta', 'socials__icon')
    li.socials__item
      a.socials__connect(href='#' target="_blank")
        +icon('vk', 'socials__icon')
    li.socials__item
      a.socials__connect(href='#' target="_blank")
        +icon('github', 'socials__icon')
