.skills__level 
  #skills-component
  script(type="text/x-template")#skills-list
    ul.skills__list(ref="skills")
      li.skills__item(v-for="skill in skills" :key="skill.skillsGroup")
        skills-row(
          :skill="skill"
          
      )
  script(type="text/x-template")#skills-row    
    .skills__row
      .skills__workflow-name {{ skill.skillsGroup }}
      ul.skill__percentage
        li.skill__container(v-for="(skillPercent, skillName) in skill.skills")
          skill(
            :skillName="skillName"
            :skillPercent="skillPercent"
            
          )
  script(type="text/x-template")#skill
    .skill
      .skill__name {{ skillName }}
      svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
        circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
        circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -70s' ref="color-circle")
        linearGradient#gradient
          stop(offset="0%" stop-color="#d0731b")
          stop(offset="100%" stop-color="#dc9322")
        
            
    