.skills__level
  .skills__frontend
    h4 Front-end
    .skill__percentage
      .skill__container
        .skill__name HTML5
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -70s')
      .skill__container
        .skill__name CSS3
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40',  style='animation-delay: -60s')
          linearGradient#gradient
            stop(offset="0%" stop-color="#d0731b")
            stop(offset="100%" stop-color="#dc9322")
      .skill__container
        .skill__name Javascript
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -40s')
      .skill__container
        .skill__name Jquery и Vue.js
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -30s')
  .skills__workflow
    h4 Workflow
    .skill__percentage
      .skill__container
        .skill__name GIT
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -60s')
      .skill__container
        .skill__name Terminal
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -40s')
      .skill__container
        .skill__name Gulp
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -30s')
      .skill__container
        .skill__name Webpack
        svg.percentage(viewBox='0 0 100 100', preserveAspectRatio='none')
          circle.skill__circle.skill__circle_under(cx='50', cy='50', r='40')
          circle.skill__circle.skill__circle_above(cx='50', cy='50', r='40', style='animation-delay: -20s')
    