.reviews__slider
  .reviews__slider-up
    h2.reviews__slider-title Что обо мне говорят
    .reviews__slider-scroll
      .button-block
        button.slider-btn.slider-btn-prev(
          :disabled="currentIndex === 0"
          @click="previous"
        )
          +icon('arrow-down', 'slider-btn-icon slider-btn-icon-prev')                        
      .button-block
        button.slider-btn.slider-btn-next(
          :disabled="currentIndex === slidesLength - 1"
          @click="next"
        )
          +icon('arrow-down', 'slider-btn-icon slider-btn-icon-next')
  .reviews__slider-down
    .reviews__slider-desc
        flickity(ref="flickity" :options="flickityOptions")
          li.reviews__slider-item.carousel-cell(v-for="review in reviews")
            blockquote.reviews__slider-info {{review.text}}
            .reviews__slider-user
              .reviews__user-info
                .reviews__slider-user-pic(:src="review.photo")
                  
              .reviews__slider-user-desc
                .reviews__slider-user-info
                  .reviews__username {{review.author}}
                  .reviews__profession {{review.position}}
          