.skills__section-columns
  .skills__info
    .skills__about
      h3.skills__advantage Чем я могу быть полезна вам
      p.skills__desc Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
