.works__section-body
  #slider-component
  script(type="text/x-template")#slider-container
    .works__wrapper
      .works__left
        slider-display(
          :works="works"
          :current-work="currentWork"
          :current-index="currentWorkIndex"
          @change-slide="changeSlide"
        )
      .works__right
        slider-info(v-bind="currentWork")

  script(type="text/x-template")#slider-display
    .works__slider(:data-index="currentIndex + 1")
      transition-group.works__slider__current(name="fade" tag="div")
        img.works__slider__current-image(:src="currentWork.photo" :key="currentWork.id")
        
      .works__slider-thumbs
        .slider__thumbs-list(:style="`transform: translateX(-${offset*100/maxThumbsCount}%)`")
          slider-thumbs(
            :works="works"
            :current-index="currentIndex"
            @change-slide="goToSlide"
      )
      .works__slider-buttons
        slider-buttons(
          :is-disabled-prev="currentIndex === 0"
          :is-disabled-next="currentIndex === works.length - 1"
          @prev-slide="goToPrevSlide"
          @next-slide="goToNextSlide"
      )

  script(type="text/x-template")#slider-thumbs
    .slider__thumbs
      .slider__thumbs-item(
        v-for="(work, index) in works"
        :key="index"
        :class="{ 'slider__thumbs-item_active': index === currentIndex }"
        @click="$emit('change-slide', index)"
    )
        img.slider__thumbs-image(:src="work.photo")
                
  script(type="text/x-template")#slider-buttons     
    .slider__buttons
      button.slider__buttons-button(
        :class="{ 'slider__buttons-button_disabled': isDisabledPrev }"
        @click="onPrevButtonClick"
    )
        +icon('arrow-down', 'slider__buttons-icon slider__buttons-icon-prev')
      button.slider__buttons-button(
        :class="{ 'slider__buttons-button_disabled': isDisabledNext }"
        @click="onNextButtonClick"
    )
        +icon('arrow-down', 'slider__buttons-icon slider__buttons-icon-next')
  
  script(type="text/x-template")#slider-info
    .works__slider-info
      .works__desc
        tags(:tags="skills")
      .works__info
        h2.works__info-title {{ title }}
        .works__info-text {{ desc }}
      a.works__link-content(:href="link" target="_blank")
        +icon('link', 'site-link')
        .link__text Посмотреть сайт

  script(type="text/x-template")#slider-tags
    ul.works__desc-list
      li.works__desc-item(
      v-for="(tag, index) in tags"
      :key="index"
    ) {{ tag}}