include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatib0.le", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .double-content
          section#main.main.section
            .main__content.container
              include ./sections/header
              include ./sections/main
              
          section#about.about.section
            .about__content.container
              include ./sections/about
              
        section#skills.skills.section
          +image('content/Руки.png', 'hands-pic')
          .skills__content.container
            include ./sections/skills
            include ./sections/percentage
                    
        section#works.works.section
          .works__content.container
            
            h2.title-works Мои Работы
            include ./sections/works
            
        .double-content-second
          section#reviews.reviews.section
            .reviews__content.container
              include ./sections/reviews
              
          section#mail.mail.section
            .mail__container.container
              .mail__content
                h2.mail__content-title Связаться со мной
                include ./sections/mail

        footer.footer
          .footer__container.container
            include ./sections/footer
            
        //- +icon('link', 'link-class')
        //- .icon-bg
        
          section.main

            include ./sections/header
           
              
        