include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon" href=require("./images/content/favicon.ico") type="image/x-icon")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .parallax-container
          .parallax-section
            .parallax-section__layer(data-speed="0.16")
              +image('content/sky.jpg', 'parallax')
            .parallax-section__layer(data-speed="0.2")
              +image('content/mountains.png', 'parallax')
            .parallax-section__layer.parallax-title(data-speed="0.3")
              h1.main-title Анна #[br] Сиренко
            .parallax-section__layer.parallax-subtitle(data-speed="0.3")
              h1.main-subtitle Личный сайт #[br] веб разработчика
            .parallax-section__layer(data-speed="0.4")
              +image('content/train.png', 'parallax')
            .parallax-section__layer(data-speed="0.7")
              +image('content/grasss.png', 'parallax')
            .parallax-section__layer.parallax-section__layer_first-gradient(data-speed="0.7")
              +image('content/bg1.png', 'parallax')
              
            .parallax-section__layer.parallax-section__layer_second-gradient(data-speed="0.7")
              +image('content/bg2.png', 'parallax')
              
          
            section#main.main.section
              .main__content.container
                include ./sections/header
                include ./sections/main
                
            section#about.about
              .about__container.container
                include ./sections/about
                
        section#skills.skills
          +image('content/Руки.png', 'hands-pic')
          .skills__content.container
            include ./sections/skills
            include ./sections/percentage
                    
        section#works.works
          .works__content.container
            
            h2.title-works Мои Работы
            include ./sections/works
            
        .double-content-second
          +image('content/1.png', 'leaves-pic')
          section#reviews.reviews
            
            .reviews__content.container
              include ./sections/reviews
              
          section#mail.mail
            .mail__container.container
              .mail__content
                h2.mail__content-title Связаться со мной
                include ./sections/mail

        footer.footer
          .footer__container.container
            include ./sections/footer
        
    
      //- +icon('link', 'link-class')
      //- .icon-bg
      
        section.main

          include ./sections/header
          
            
        